*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}
body {font-family: Arial, Helvetica, sans-serif sans-serif;}

/* COMMON */

section {padding: 20px 30px 50px 30px;}
.my__blue {color: rgb(42, 86, 168)}
.my__blue-bg {background: rgb(42, 86, 168);}
.my__grey-bg {background: rgb(236, 236, 236);}
.my__bright:hover {filter: brightness(1.2)}
.my__title {font-size: 2.8em ;}
.my__paragraph {padding: 20px 0px;}
.my__weight-bold {font-weight: 500;}
.my__sup {font-size: 0.5em;}
.my__txt-shadow{text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.438);}
.my__deactive {opacity: 0.8}
.my__deactive:hover {opacity: 1}

/* modifico la chevron down per menu a comparsa */
.my__dropdown-toggle::after {
    border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.25em;
	position: relative;
	top: 7px;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.45em;
}



/* HEADER */
.top-header {height: 30px; background: black;}
.top-header img {height: 15px;}
.bottom-header {box-shadow: 0 3px 3px rgba(0, 0, 0, 0.116);}


/* JUMBOTRON */
#jumbotron {
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-position-x: center;
    background-position-y: top;
}
#logo-returnal {margin-bottom: 30px;}

/* SLIDER GAME */
.my__card_game {padding: 3px; }
.my__card_image {border-radius: 10px; overflow: hidden;}
.my__card_game-active {box-shadow: 0 0 0 4px white, 0 0 0 8px rgba(42, 86, 168, 0.452);}
.my__card_game-active:hover{box-shadow: 0 0 0 4px white, 0 0 0 8px rgba(42, 86, 168, 1);}
.my__card_image:not(.my__card_game-active) {opacity: 0.8;}
.my__card_image:hover {opacity: 1; transform: translateY(-20px); box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.315);} /* da migliorare animazione */

/* PLAYSTATION 5 */
.my__accessory {opacity: 0.6;}
.my__accessory-active {
    opacity: 1;
    border-bottom: 2px solid rgb(42, 86, 168);
}
.my__accessory:hover {opacity: 1;}

/* HERO */
#hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    /* height: 800px; */
}

/* LAST GAMES */
#last-games {background-color: rgb(39, 39, 39);}
.my__last_game-img img{border-radius: 20px;}

/* ESPLORA PS4 */

/* PLAYSTATION PLUS */
#playstation-plus {
    height: 100%;
    padding: 0px 30px;
    background-color: lightgray;
}

.my__psPlus-img {
    object-fit: contain;
}

/* SALDI */

/* PLAYSTATION NOW */
#playstation-now {
    height: 100%;
    padding: 0px 30px;
    background-color: rgb(27, 27, 78);
}

.my__psnow-img {
    object-fit: contain;
}

/* SOCIALS */

/* FOOTER */

